<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <script src="./jQuery.js"></script>
      <link rel="stylesheet" href="animate.min.css">
      <link rel="shortcut icon" href="#" type="image/x-icon">
      <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="forAllPages.css">
      <link rel="stylesheet" href="adminPg.css">
      <title>Product Requests</title>
</head>


<body>
      <%- include('navbar'); %>

      <h1 class="text-center mt-4"><u>Promotion Requests from Suppliers</u></h1>
      
      <div class="m-5 p-5">
            <% for(let i=0; i<=promReq.length-1; i++) { %>
                  <div class="d-flex justify-content-between">
                        <h3>(<%= i+1 %>) <b><%= promReq[i].userName %></b>: <%= promReq[i].promotionRequest %></h3>
                        <div><button class="btn btn-danger" onclick="deleteRequest('<%= promReq[i].id_promotionRequests %>');">Delete</button></div>
                  </div>
                  <hr>
            <% } %>
      </div>

</body>
</html>


<script>
      function deleteRequest(id_promotionRequests) 
      {
            $.post
            (
                  '/deletePromRequest',
                  {
                        id_promotionRequests: id_promotionRequests
                  }
            )
            .then
            (
                  (res)=>
                  {
                        location.reload();
                  }

            );

      };
</script>
